
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(120, 118, 126);
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .find {
  margin-top: 30px;
}
.find{
  background-color: rgb(119, 26, 26);
  position: relative;
  height: 65px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid rgb(237, 226, 226);
  border-radius: 6px;
  padding: 0 15px;
  place-items: center;
  display: flex;
  column-gap: 15px;
  font-size: 20px;
 position: relative;
 margin-bottom: 23px 20px 20px 13px;
 place-content: CENTER;
 place-items: center;
 text-align: center;
}
.find:hover{
  background-color: rgb(234,43,43,1);

}


.container .Edit {
    margin-top: 30px;
  }
  .Edit{
    background-color: rgb(119, 26, 26);
    position: relative;
    height: 65px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: white;
    margin-top: 8px;
    border: 1px solid rgb(237, 226, 226);
    border-radius: 6px;
    padding: 0 15px;
    place-items: center;
    display: flex;
    column-gap: 15px;
    font-size: 20px;
   position: relative;
   margin-bottom: 23px 20px 20px 13px;
   place-content: CENTER;
   place-items: center;
   text-align: center;
  }
  .Edit:hover{
    background-color: rgb(234,43,43,1);
  
  }
  
  .container .Box {
    margin-top: 30px;
  }

  .Box{
    background-color:white(119, 26, 26);
    position: relative;
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 2.5em;
    color:black;
    margin-top: 8px;
    border: 1px solid black(237, 226, 226);
    border-radius: 6px;
    padding: 0 15px;
    place-items: center;
    display: flex;
    column-gap: 15px;
    font-size: 20px;
   position: relative;
   margin-bottom: 23px 20px 20px 13px;
   place-content: CENTER;
   place-items: center;
   text-align: center;
  }
  .Box:hover{
    background-color: white(234,43,43,1);
  
  }
